body {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url('../assets/img/currentcourantBG.jpg');
	background-size: cover;
	background-position: center;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.cover-container {
	max-width: 75vw;
}

.enterBtn {
	font-size: 2.6rem;
}

.hpBtn {
	color: #FFF;
	text-decoration: none;
}

.hpBtn:hover {
	color: #FFF;
}

.hpSocialBtn {
	text-decoration: none;
	padding: 3px;
}