body {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url('https://res.cloudinary.com/superkloklabs/image/upload/v1610040109/CurrentCourantPointCa/currentcourantBG_zazk79.jpg');
	background-size: cover;
	background-position: center;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.hpBtn {
	color: #FFF;
	text-decoration: none;
}

.hpBtn:hover {
	color: #FFF;
}

.socialBtn {
	text-decoration: none;
	padding: 7px;
}